@model List<Entity.ClientBusiness_Entity>

<div class="card-content black-text">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Empresas</h4></li>
        @foreach (var item in Model)
        {
            <li class="collection-item">
                <div>
                    @item.id_client_business - @item.name_client_business
                    <a href="#!" class="secondary-content">
                        <i class="blue-text material-icons">info</i>
                    </a>
                </div>
            </li>
        }
    </ul>
</div>