@model List<Entity.ClientBusiness_Entity>

<div class="card-content black-text">
    <ul class="collection with-header">
        <li class="collection-header"><h5>Empresas</h5></li>
        @foreach (var item in Model)
        {
            <li class="collection-item">
                <div>
                    @item.id_client_business - @item.name_client_business
                    <div class="right-align">
                        <a href="#!" class="secondary-content">
                            @Html.ActionLink("Información", "EditClientBusiness", new { id = item.id_client_business })
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>