<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet"
          href="~/Public/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .btn {
            margin-top: 5%;
            box-shadow: none;
        }
    </style>
</head>
<body class="grey lighten-4">
    <header class="light-blue darken-1 white-text">
        <div class="row">
            <h2 class="title col s6">ERP</h2>

            <div class="right-align auth_button col s6">
                <a href="/Auth/Login" class="light-blue btn">Iniciar Sesion</a>
            </div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="page-footer light-blue darken-1">
        <div class="container">
            <div class="row">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="~/Public/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, {
                fullWidth: true,
                indicators: true
            });
            var instance = M.Carousel.init({
                fullWidth: true
            });
        });
    </script>
</body>
</html>
