
@{
    ViewBag.Title = "AddModules";
    Layout = "~/Views/Layouts/_LayoutAdminSystem.cshtml";

    var listTypeModule = ViewBag.list_type_business; // Llamamos al ViewBag de la lista
    var listSizeModule = ViewBag.list_size_business;
}

<nav>
    <div class="nav-wrapper blue">
        <div class="col s12">
            &nbsp;&nbsp;
            <a href="/Index/Home" class="breadcrumb">Home</a>
            <a href="#" class="breadcrumb">Crear Modulos</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Crear Modulo</span><br />
                <div class="row">
                    @using (Html.BeginForm("InsertModule", "Module", FormMethod.Post))
                    {
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input autofocus name="module_name" type="text" class="validate">
                                    <label for="first_name">Nombre</label>
                                </div>
                                <div class="input-field col s6">
                                    <input name="abreviation" type="text" class="validate">
                                    <label for="last_name">Abreviatura</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input name="description" type="text" class="validate">
                                    <label for="first_name">Descripcion</label>
                                </div>
                                <div class="input-field col s6">
                                    <select name="cbxModule">
                                        <option value="" disabled selected>Escoger tipo</option>
                                        @foreach (var item in listTypeModule)
                                        {
                                            <option value="@item.id_type_module">@item.type_module</option>
                                        }
                                    </select>
                                    <label>Tipo de Modulo</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Registrar
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    }
                </div>

                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
                    Agregar Lista de Precios
                </a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Lista de Precios</h4>
                        <p>Suscripciones mensuales y anuales</p>

                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s6"><a class="active" href="#test1">Suscripcion Mensual</a></li>
                                    <li class="tab col s6"><a href="#test2">Suscripción anual</a></li>
                                </ul>
                            </div>
                            <br /><br />
                            <div id="test1" class="col s12">
                                <div class="row">
                                    @foreach (var item in listSizeModule)
                                    {
                                        <div class="input-field col s12">
                                            <input id="first_name" type="number" class="validate">
                                            <label for="first_name">@item.size</label>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div id="test2" class="col 12">
                                <div class="row">
                                    @foreach (var item in listSizeModule)
                                    {
                                        <div class="input-field col s12">
                                            <input id="first_name" type="number" class="validate">
                                            <label for="first_name">@item.size</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      });
</script>