@model List<Entity.Module_Entity>

<div class="card-content black-text">
    <ul class="collection with-header">
        <li class="collection-header"><h5>Módulos</h5></li>
        @foreach (var item in Model)
        {
            <li class="collection-item">
                <div>
                    @item.id_module - @item.name_module
                    <div class="right-align">
                        <a href="#!" class="secondary-content">
                            @Html.ActionLink("Información", "EditModules", new { id = item.id_module })
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>