
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_LayoutPage1.cshtml";
}

<main class="container">
    <div class="carousel carousel-slider">
        <a class="carousel-item"><img src="https://blog.nubox.com/hubfs/como-ordenar-las-finanzas-de-una-empresa.png"></a>
        <a class="carousel-item"><img src="https://profitline.com.co/wp-content/uploads/2018/08/funciones-de-back-office-en-una-empresa-profitline-1170x780.png"></a>
        <a class="carousel-item"><img src="https://blog.nubox.com/hubfs/como-ordenar-las-finanzas-de-una-empresa.png"></a>
        <a class="carousel-item"><img src="https://profitline.com.co/wp-content/uploads/2018/08/funciones-de-back-office-en-una-empresa-profitline-1170x780.png"></a>
    </div>
</main>
<br><br>